//
// Card
//

.card-blockquote-first {
	background-image: url('~./img/7.png');
	background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 350px;
}

.card-blockquote-second {
	background-image: url('~./img/7.png');
	background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 350px;
}

.card-blockquote-third {
	background-image: url('~./img/7.png');
	background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 350px;
}