//
// Card
//

.card-placements-first {
	background-image: url('~./img/1.png');
	background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 360px;
}

.card-placements-second {
	background-image: url('~./img/2.png');
	background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 360px;
}

.card-placements-third {
	background-image: url('~./img/3.png');
	background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 360px;
}

.card-placements-fourth {
	background-image: url('~./img/4.png');
	background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 360px;
}