//
// Card
//

.card-service-1 {
	background-image: url('~./img/1.png');
	background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 360px;
}

.card-service-2 {
	background-image: url('~./img/2.png');
	background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 360px;
}

.card-service-3 {
	background-image: url('~./img/3.png');
	background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 360px;
}

.card-service-4 {
	background-image: url('~./img/4.png');
	background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 360px;
}