<template>
    <div class="modal fade rounded-0" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md">
                            <h5 class="text-center mt-3 mb-4 font-bold title-login">Iniciar Sesión</h5>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control input-login" aria-describedby="emailHelp" placeholder="Mail">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-login" placeholder="Contraseña">
                    </div>
                    <div class="row">
                        <div class="col-md-4 d-flex align-items-center">
                           <div class="custom-control my-2 custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="remenberme">
                                <label class="custom-control-label font-bold" for="remenberme">Recordarme</label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <button type="button" class="button-login btn btn-info rounded-2 text-uppercase btn-block">Ingresar</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md mt-4 mb-4">
                            <a href="" data-dismiss="modal" aria-label="Close" data-toggle="modal" class="reset" data-target="#passwordResetModal" >
                                Olvidé mi contraseña
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
}
</script>
