<template>
    <div class="modal fade rounded-0" id="passwordResetModal" tabindex="-1" role="dialog" aria-labelledby="passwordResetModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md">
                            <h5 class="text-center mt-3 mb-4 title-login">Recuperar tu contraseña</h5>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control input-login" aria-describedby="emailHelp" placeholder="Mail">
                    </div>
                    <div class="row mb-4">
                        <div class="col-md">
                            <button type="button" class="button-login btn btn-info rounded-2 text-uppercase btn-block">Ingresar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
export default {
};
</script>
