//
// Background
//

.background-boost {
	background-image: url('~./img/70.png');
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
}

.offers-header {
	background-image: url('~./img/background-offers.png');
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
}

.background-faq {
	background-image: url('~./img/faq.png');
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
}

.offers-container {
	background-image: url('~./img/70.png');
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
}

.server {
	border-bottom: 1px solid grey;
}

.bg-black {
	background: #252323;
}

.font-small {
	font-size: .6rem;
}


.offers-form {
	@media (min-width: 1000px) {
		padding-right: 4rem !important;
		padding-left: 4rem !important;
	}
}

.offers-select {
	border-radius: 24px;
}