//
// Input
//

.input-custom {
	background: #EAEAEA;
    border: none;
    border-radius: 0;
    text-decoration: #000;

    &::placeholder {
        color: #1F1F1F;
    }

    &:focus {
        background-color: #f7f7f7;
    }
}

.input-custom-white {
    border-radius: 0;
}