.title-login {
    font-size: 1.6rem;
    color: #cecece;
}

.modal-dialog {
    max-width: 425px;
}

.modal-content {
    border-radius: 0;
}

.modal-header {
    border-bottom: 0;
    text-align: center;
    color: #CCCAD5;
}

.modal-body {
    padding: .5rem 2rem 0 2rem;
}

.modal-footer {
    border-top: 0;
    padding: 0 1rem .5rem 1rem;
}

.reset {
    color: #000;
    text-decoration: underline;
    font-weight: 600;
    
    &:hover {
        color: #000 !important;
    }
}

.input-login {
    background: #EAEAEA !important;
    border: none !important;
    border-radius: 0 !important;
    text-decoration: #000 !important;

    &::placeholder {
        color: #1F1F1F !important;
    }
 }

.button-login {
    background: #36C2A4;
    border: none;
    border-radius: 15px;

    &:hover {
        background: #349e88;
    }
}

.form-check {
    padding-left: 0;
}

.form-check input[type="checkbox"] {
    display: none;
}

.form-check input[type="checkbox"] + label span {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url('~./img/checkbox-uncheck.png');
    background-size: cover;
    cursor: pointer;
}

.form-check input[type="checkbox"]:checked + label span {
    background: url('~./img/checkbox-check.png');
    background-size: cover;
}