@font-face {
    font-family: 'Muli';
    src: url(~./fonts/Muli-Regular.ttf);
}

@font-face {
    font-family: 'Muli-Bold';
    src: url(~./fonts/Muli-Bold.ttf);
}

@font-face {
    font-family: 'Muli-ExtraBold';
    src: url(~./fonts/Muli-ExtraBold.ttf);
}

@font-face {
    font-family: 'Muli-ExtraLight';
    src: url(~./fonts/Muli-ExtraLight.ttf);
}

@font-face {
    font-family: 'Muli-Light';
    src: url(~./fonts/Muli-Light.ttf);
}

@font-face {
    font-family: 'Muli-Black';
    src: url(~./fonts/Muli-Black.ttf);
}

.font-regular {
    font-family: 'Muli' !important;
}

.font-bold {
    font-family: 'Muli-Bold' !important;
}

.font-extra-bold {
    font-family: 'Muli-ExtraBold' !important;
}

.font-extra-light {
    font-family: 'Muli-ExtraLight' !important;
}

.font-light {
    font-family: 'Muli-Light' !important;
}

.font-black {
    font-family: 'Muli-Black' !important;
}

.title-gray {
    color: #b5b0b0;
}