<template>
    <footer class="footer">
        <div class="footer-info">
            <div class="container">
                <div class="row justify-content-center pt-5 pb-1 pr-3 pl-3">
                    <div class="col-auto col-md-2 my-3">
                        <router-link :to="{ name: 'Home' }">
                            <img src="../../assets/img/footer.png" class="img-fluid" width="150" height="150">
                        </router-link>
                    </div>
                    <div class="col-auto col-md-6 my-3">
                        <div class="row justify-content-around">
                            <div class="col-auto col-md">
                                <ul class="footer-list">
                                    <li class="footer-list-link">
                                        <a href="#" data-toggle="modal" data-target="#loginModal"> Ingresar </a>
                                    </li>
                                    <li class="footer-list-link">
                                        <router-link :to="{ name: 'faq' }">Preguntas frecuentes</router-link>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-auto col-md">
                                <ul class="footer-list">
                                    <li class="footer-list-link">
                                        <a href="#"> Términos y condiciones </a>
                                    </li>
                                    <li class="footer-list-link">
                                        <a href="#"> Políticas de privacidad </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-10 col-auto pl-5">
                                <img src="../../assets/img/metodos_pago.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="col-auto col-md-4 my-3">
                        <!-- <img src="../../assets/img/facebook.png" class="img-fluid"> -->
                        <div class="fb-page" 
                             data-href="https://www.facebook.com/WorldBoosting" 
                             data-tabs="biograf&#xed;a" 
                             data-small-header="false" 
                             data-adapt-container-width="true" 
                             data-hide-cover="false" 
                             data-show-facepile="true">
                            <blockquote cite="https://www.facebook.com/WorldBoosting" 
                                    class="fb-xfbml-parse-ignore">
                                <a href="https://www.facebook.com/WorldBoosting">Elo Boost League Of Legends
                                </a>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copy p-3">
            <div class="text-center">© fundación de caridad | Todos los derechos reservados </div>
        </div>
    </footer>
</template>

<script>
export default {
    name: 'WBFooter'
}
</script>
