
.footer {
	background-color: black;
	color: #cccccc;

	&-info {
		border-bottom: 1px solid #0e0e0e;
	}

	&-list {
		margin-bottom: 0 !important;

		&-link {
			list-style: none;			
			padding-bottom: 1.5rem;

			a {
				text-decoration: none;
				color: #cccccc !important;

				&:hover {
					color: #fefefe;
				}
			}
		} 
	}
}