//
// Sections
//

.section-background {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.section {
	position: relative;
	padding-top: 6.675rem;
    padding-bottom: 6.675rem;

	.container {
		position: relative;
   		z-index: 1;
	}

	.page-background {
		background-image: url('~./img/header-1200px.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}

	.section-background {
		background-image: url('~./img/header-1200px.jpg');
		background-repeat: no-repeat;
    	background-position: 50%;
    	background-size: cover;

    	@include media-breakpoint-down(md) {
	 		background-image: url('~./img/faq.png');
  		}
	}

	.section-info {
		color: $white;
	}

	.section2 {
		padding-top: 1rem;

		h2 {
			padding: 1rem;
			margin-bottom: 0;
		}
	}

    &.section-mid {
    	padding-top: 1rem;
    	padding-bottom: 1rem;
    }

	&.section-background-ryze {
		background-image: url('~./img/20.png');
		background-repeat: no-repeat;
    	background-position: center bottom;
    	background-size: cover;
		height: 200px;
		background-attachment: fixed;
	}

	&.section-background-r2ze {
		padding-bottom: 0;
		background-image: url('~./img/20.png');
		background-repeat: no-repeat;
		background-position: center 50%;
    	background-size: cover;
		height: 516px;
		background-attachment: fixed;
	}

	.section-img {
		top: 9.5rem;

		@include media-breakpoint-up(lg) {
			top: 7.9375rem;
		}

		@include media-breakpoint-up(xl) {
			top: 9.5rem;
		}
	}
}

.section-over {

	padding-top: 5.3125rem;

	@include media-breakpoint-up(sm) {
		padding-top: 5.3125rem;
	}

	@include media-breakpoint-up(md) {
		padding-top: 7.3125rem;
	}

	@include media-breakpoint-up(lg) {
		padding-top: 10.3125rem;
	}

	@include media-breakpoint-up(xl) {
		padding-top: 10.3125rem;
	}
}

.section-mid  h2{
	margin-bottom: 3.656rem;
}

.section-function {
	background-color: $gray-dark-wb;
	padding: 15rem 1rem 0 1rem;

	.container-step {
		display: flex;
		justify-content: center;
		margin-bottom: -112.5px;
	}

	.function-step {
		text-align: center;
		background: white;
		padding: 1rem;
		width: 225px;
		height: 225px;
		border-radius: 50%;

		&-title {
			margin-top: 30px;
			margin-bottom: 30px;
			color: $orange-wb;
			font-size: 1.2rem;
			font-weight: bold;
		}

		&-text {

		}

	}
}

.section-services {
	margin-bottom: -200px;
}

.collapsed {
	color: #210d5d !important;
}

.faq-link:not(.collapsed) {
	color: #1cd6ac !important;
}

.faq-link.collapsed::before {
	content: url('~./icon/arrow-down.png');
}

.faq-link:not(.collapsed)::before {
	content: url('~./icon/arrow-up.png');
}

.section-faq {
	height: 60vh;
}

.imghover-effect {
	&:hover {
		.title-card {
			opacity: 0;
			visibility: visible;
		}

		.text-card {
			visibility: visible;
			opacity: 1;
		}

		.bg-lighthen {
			visibility: visible;
			opacity: 1;
		}
	}
}

.title-card {
	font-size: 1.5rem;
	position: absolute;
	opacity: 1;
	transition: visibility 0s, opacity 0.2s linear;
}

.text-card {
	opacity: 0;
	visibility: hidden;
	font-size: .8rem;
	z-index: 99999;
	transition: visibility 0s, opacity 0.5s linear;
}

.bg-lighthen {
	position: absolute;
	background: rgba($color: #000000, $alpha: .3);
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
	visibility: hidden;
}

.price-card {
	background-color: #ececec;
}

.item {
	border-bottom: 1px solid #dedcdc;

	&-title {
		text-transform: uppercase;
		font-size: .7rem;
	}
}

.text-green {
	color: #35C2A4;
}

.title-price {
	font-size: 1.5rem;
}

.testimonial {
		background: #101f31;
		margin: .5rem;
		padding-left: 1rem;
		position: relative;
		font-size: .9rem;

		&-header {
			padding-top: .8rem;

			&-avatar {
				img {
					width: 40px;
				}
			}

			&-stars {
				width: 100%;
				padding-left: 1rem;
				padding-right: 1rem;
				justify-content: space-evenly;

				img {
					width: 25px !important;
					height: 25px !important;
					margin-right: .4rem;
				}
			}

			&-score {
				font-size: 1.1rem;
				margin-right: 1rem;
			}
		}

		&-top {
			position: absolute;
			top: -6px;
			left: -6px;
		}

		&-bottom {
			position: absolute;
			bottom: -6px;
			right: -6px;
			// width: 30px;
		}

		&-footer {
			&-location {
				font-size: 1.1rem;
			}

			&-server {
				color: #8ea9d9;
				font-size: 1.2rem;
			}

			&-date {
				font-size: .8rem;
			}
		}
	}

	.offers {
		&-title {
			font-weight: bold;
		}

		&-subtitle {
			font-size: 2.5rem;
		}


		&-item {
      &:hover {
        background: rgba(0, 0, 0, .6);
      }
      transition: background .3s linear;
			background: rgba(0, 0, 0, .3);
			border-radius: 5px;

			&-content {
				position: relative;
				z-index: 1;
        display: flex;

				&-image {
					position: relative;
          display: flex;

					img {
            transition: zoom .3s linear;
            width: 100%;
            display: block;
          }
          &-one {
            display: flex;
            flex-direction: column;
            margin-right: -1.2rem;
            margin-top: 60px;
          }
          &-two {
            width: 80px;
          }
          // 	width: 40px;
          //        margin-top: 1rem;
					// }

					// &-two {
					// 	position: absolute;
     //       width: 80px;
     //       bottom: -3rem;
     //       right: -6.2rem;
					// }
				}

				&-bg {
					background: rgba(0, 0, 0, .4);
					height: 4rem;
					width: 100%;
					position: absolute;
					top: 0;
					bottom: 0;
					margin: auto;
					z-index: -1;
				}

				&-percent {
					font-size: 1.8rem;
					font-weight: 200;
					margin-right: .8rem;
				}
			}

			&-footer {
				&-price {
					font-size: 1.1rem;
				}

				&-time {
					font-size: .8.5rem;
				}

				&-link a {
					border-radius: 25px;
					font-size: .8rem;
				}
			}
		}
	}
