<template>
	<div class="col-md">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item tab">
				<a class="nav-link custom active font-bold d-flex" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
					<span>
						DIVISIONES
					</span>
					<img src="../../assets/img/10.png" class="img-fluid ml-auto">
				</a>
			</li>
			<li class="nav-item tab">
			   	<a class="nav-link custom font-bold d-flex" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
				   	<span>
						VICTORIAS 
					</span>
				   	<img src="../../assets/img/12.png" class="img-fluid ml-auto">
				</a>
			</li>
			<li class="nav-item tab">
			    <a class="nav-link custom font-bold d-flex" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
					<span>
						PRIMERAS 10 
					</span>
					<img src="../../assets/img/11.png" class="img-fluid ml-auto">
				</a>
			</li>
		</ul>
		<div class="card">
			<div class="card-body">
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
						<div class="text-center my-4 font-bold">
							¡Configura tu división actual, la que quieres ser, <br> tu server, el modo y nos encargaremos del resto!
						</div>
						<div class="row justify-content-center">
							<div class="col-md order-xl-1 pr-2 pl-2">
								<div class="card bg-light" style="height: 271px">
									<div class="card-body">
										<h6 class="card-title text-center font-extra-bold">Soy</h6>
										<div class="league text-center my-2">
											<img src="../../assets/img/50.png" class="img-fluid">
											<div class="league-text my-2">
												Oro
												<div class="league-division my-2">
													División 5
												</div>
												<div class="league-division my-2">
													0 - 20
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md order-xl-2 mt-2 mt-xl-0 pr-2 pl-2">
								<div class="card bg-light" style="height: 271px">
									<div class="card-body">
										<h6 class="card-title text-center font-extra-bold">¡Quiero ser!</h6>
										<div class="league text-center my-2">
											<img src="../../assets/img/51.png" class="img-fluid">
											<div class="league-text my-2">
												Diamond
												<div class="league-division my-2">
													División 5
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md order-5 order-xl-3 pr-2 mt-2 mt-xl-0 pl-2">
								<div class="price-card">
									<div class="price-card-body">
										<div class="item py-3 px-3">
											<div class="item-header d-flex">
												<div class="item-title mr-auto font-black">Precio</div>
												<div class="price-old"><del>1854.72 $</del></div>
											</div>
											<div class="text-green title-price text-right title-price font-bold">1545.6 $</div>
										</div>
										<div class="item py-3 px-3">
											<div class="item-header d-flex">
												<div class="item-title mr-auto font-black">Tiempo estimado</div>
												<div class="font-bold text-green title-price">20 días</div>
											</div>
										</div>
										<div class="py-3 px-3">
											<div class="item-title mr-auto font-black">Extras</div>
												<div class="custom-control my-2 custom-checkbox">
											  	<input type="checkbox" class="custom-control-input" id="role">
											  	<label class="custom-control-label font-bold" for="role">	Fijar roles</label>
											</div>
											<div class="d-flex flex-row bd-highlight">
												<div class="bd-highlight">
													<img src="../../assets/img/51.png" alt="" class="img-fluid py-1 pr-1">
												</div>
												<div class="bd-highlight">
													<img src="../../assets/img/51.png" alt="" class="img-fluid py-1 pr-1">
												</div>
											</div>
											<div class="custom-control my-2 custom-checkbox">
											  	<input type="checkbox" class="custom-control-input" id="champion">
											  	<label class="custom-control-label font-bold" for="champion">	Fijar campeones</label>
											</div>
											<div class="d-flex">
												<div class="">
													<img src="../../assets/img/49.png" alt="" class="img-fluid py-1 pr-1">
												</div>
												<div class="">
													<img src="../../assets/img/49.png" alt="" class="img-fluid py-1 pr-1">
												</div>
												<div class="">
													<img src="../../assets/img/49.png" alt="" class="img-fluid py-1 pr-1">
												</div>
												<div class="">
													<img src="../../assets/img/49.png" alt="" class="img-fluid py-1 pr-1">
												</div>
											</div>
											<div class="d-flex ">
												<div class="">
													<img src="../../assets/img/50.png" alt="" class="img-fluid py-1 pr-1">
												</div>
												<div class="">
													<img src="../../assets/img/50.png" alt="" class="img-fluid py-1 pr-1">
												</div>
												<div class="">
													<img src="../../assets/img/50.png" alt="" class="img-fluid py-1 pr-1">
												</div>
												<div class="">
													<img src="../../assets/img/50.png" alt="" class="img-fluid py-1 pr-1">
												</div>
											</div>
											<div class="custom-control mt-2 custom-checkbox">
											  	<input type="checkbox" class="custom-control-input" id="fast">
											  	<label class="custom-control-label font-bold" for="fast">	Servicio rápido</label>
											</div>
										</div>
									</div>
								</div>
								<div class="next my-3">
									<button type="button" class="btn button-boost rounded-2 btn-warning btn-block text-white" @click="next()">Continuar</button>
								</div>
							</div>
							<div class="col-md order-xl-4 mt-2 mt-xl-0 pr-2 pl-2">
								<div class="card bg-light" style="height: 271px">
									<div class="card-body">
										<h6 class="card-title text-center font-extra-bold">Server</h6>
										<div class="league text-center my-2">
											<img src="../../assets/img/120.png" class="img-fluid">
											<div class="league-text my-2">
												LAS
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md order-xl-5 mt-2 mt-xl-0 pr-2 pl-2">
								<div class="card bg-light" style="height: 271px">
									<div class="card-body">
										<h6 class="card-title text-center font-extra-bold">Modo</h6>
										<div class="league text-center my-2">
											<img src="../../assets/img/only.png" class="img-fluid">
											<div class="league-text my-2">
												SOLO
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
						<div class="text-center my-4 font-bold">
							¡Configura tu división actual, la que quieres ser, <br> tu server, el modo y nos encargaremos del resto!
						</div>
						<div class="row justify-content-center">
							<div class="col-md order-xl-1 pr-2 pl-2">
								<div class="card bg-light" style="height: 271px">
									<div class="card-body">
										<h6 class="card-title text-center font-extra-bold">Soy</h6>
										<div class="league text-center my-2">
											<img src="../../assets/img/50.png" class="img-fluid">
											<div class="league-text my-2">
												Oro
												<div class="league-division my-2">
													División 5
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md order-xl-2 mt-2 mt-xl-0 pr-2 pl-2">
								<div class="card bg-light" style="height: 271px">
									<div class="card-body">
										<h6 class="card-title text-center font-extra-bold">Quiero</h6>
										<div class="league text-center my-2">
											<img src="../../assets/img/51.png" class="img-fluid">
											<div class="league-text my-2">
												Diamond
												<div class="league-division my-2">
													División 5
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md order-5 order-xl-3 mt-2 mt-xl-0 pr-2 pl-2">
								<div class="price-card">
									<div class="price-card-body">
										<div class="item py-3 px-3">
											<div class="item-header d-flex">
												<div class="item-title mr-auto font-black">Precio</div>
												<div class="price-old"><del>1854.72 $</del></div>
											</div>
											<div class="text-green title-price text-right title-price font-bold">1545.6 $</div>
										</div>
										<div class="item py-3 px-3">
											<div class="item-header d-flex">
												<div class="item-title mr-auto font-black">Tiempo estimado</div>
												<div class="font-bold text-green title-price">20 días</div>
											</div>
										</div>
										<div class="py-3 px-3">
											<div class="item-title mr-auto font-black">Extras</div>
												<div class="custom-control my-2 custom-checkbox">
											  	<input type="checkbox" class="custom-control-input" id="role">
											  	<label class="custom-control-label font-bold" for="role">	Fijar roles</label>
											</div>
											<div class="d-flex flex-row bd-highlight">
												<div class="bd-highlight">
													<img src="../../assets/img/51.png" alt="" class="img-fluid py-1 pr-1">
												</div>
												<div class="bd-highlight">
													<img src="../../assets/img/51.png" alt="" class="img-fluid py-1 pr-1">
												</div>
											</div>
											<div class="custom-control my-2 custom-checkbox">
											  	<input type="checkbox" class="custom-control-input" id="champion">
											  	<label class="custom-control-label font-bold" for="champion">	Fijar campeones</label>
											</div>
											<div class="d-flex">
												<div class="">
													<img src="../../assets/img/49.png" alt="" class="img-fluid py-1 pr-1">
												</div>
												<div class="">
													<img src="../../assets/img/49.png" alt="" class="img-fluid py-1 pr-1">
												</div>
												<div class="">
													<img src="../../assets/img/49.png" alt="" class="img-fluid py-1 pr-1">
												</div>
												<div class="">
													<img src="../../assets/img/49.png" alt="" class="img-fluid py-1 pr-1">
												</div>
											</div>
											<div class="d-flex ">
												<div class="">
													<img src="../../assets/img/50.png" alt="" class="img-fluid py-1 pr-1">
												</div>
												<div class="">
													<img src="../../assets/img/50.png" alt="" class="img-fluid py-1 pr-1">
												</div>
												<div class="">
													<img src="../../assets/img/50.png" alt="" class="img-fluid py-1 pr-1">
												</div>
												<div class="">
													<img src="../../assets/img/50.png" alt="" class="img-fluid py-1 pr-1">
												</div>
											</div>
											<div class="custom-control mt-2 custom-checkbox">
											  	<input type="checkbox" class="custom-control-input" id="fast">
											  	<label class="custom-control-label font-bold" for="fast">	Servicio rápido</label>
											</div>
										</div>
									</div>
								</div>
								<div class="next my-3">
									<button type="button" class="btn button-boost rounded-2 btn-warning btn-block text-white" @click="next()">Continuar</button>
								</div>
							</div>
							<div class="col-md order-xl-4 mt-2 mt-xl-0 pr-2 pl-2">
								<div class="card bg-light" style="height: 271px">
									<div class="card-body">
										<h6 class="card-title text-center font-extra-bold">Server</h6>
										<div class="league text-center my-2">
											<img src="../../assets/img/121.png" class="img-fluid">
											<div class="league-text my-2">
												LAN
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md order-xl-5 mt-2 mt-xl-0 pr-2 pl-2">
								<div class="card bg-light" style="height: 271px">
									<div class="card-body">
										<h6 class="card-title text-center font-extra-bold">Modo</h6>
										<div class="league text-center my-2">
											<img src="../../assets/img/only.png" class="img-fluid">
											<div class="league-text my-2">
												SOLO
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
						<div class="font-bold text-center my-4">
							¡Configura tu división actual, la que quieres ser, <br> tu server, el modo y nos encargaremos del resto!
						</div>
						<div class="row justify-content-center">
							<div class="col-md order-xl-1 pr-2 pl-2">
								<div class="card bg-light" style="height: 271px">
									<div class="card-body">
										<h6 class="card-title text-center font-extra-bold">Liga anterior</h6>
										<div class="league text-center my-2">
											<img src="../../assets/img/49.png" class="img-fluid">
											<div class="league-text my-2">
												Unranked
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md order-xl-2 mt-2 mt-xl-0 pr-2 pl-2">
								<div class="card bg-light" style="height: 271px">
									<div class="card-body">
										<h6 class="card-title text-center font-extra-bold">¡Quiero ser!</h6>
										<div class="league text-center my-2">
											<img src="../../assets/img/51.png" class="img-fluid">
											<div class="league-text my-2">
												Diamond
												<div class="league-division my-2">
													División 5
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md order-5 order-xl-3 mt-2 mt-xl-0 pr-2 pl-2">
								<div class="price-card">
									<div class="price-card-body">
										<div class="item py-3 px-3">
											<div class="item-header d-flex">
												<div class="item-title mr-auto font-black">Precio</div>
												<div class="price-old"><del>1854.72 $</del></div>
											</div>
											<div class="text-green title-price text-right title-price font-bold">1545.6 $</div>
										</div>
										<div class="item py-3 px-3">
											<div class="item-header d-flex">
												<div class="item-title mr-auto font-black">Tiempo estimado</div>
												<div class="font-bold text-green title-price">20 días</div>
											</div>
										</div>
										<div class="py-3 px-3">
											<div class="item-title mr-auto font-black">Extras</div>
												<div class="custom-control my-2 custom-checkbox">
											  	<input type="checkbox" class="custom-control-input" id="role">
											  	<label class="custom-control-label font-bold" for="role">	Fijar roles</label>
											</div>
											<div class="d-flex flex-row bd-highlight">
												<div class="bd-highlight">
													<img src="../../assets/img/51.png" alt="" class="img-fluid py-1 pr-1">
												</div>
												<div class="bd-highlight">
													<img src="../../assets/img/51.png" alt="" class="img-fluid py-1 pr-1">
												</div>
											</div>
											<div class="custom-control my-2 custom-checkbox">
											  	<input type="checkbox" class="custom-control-input" id="champion">
											  	<label class="custom-control-label font-bold" for="champion">	Fijar campeones</label>
											</div>
											<div class="d-flex">
												<div class="">
													<img src="../../assets/img/49.png" alt="" class="img-fluid py-1 pr-1">
												</div>
												<div class="">
													<img src="../../assets/img/49.png" alt="" class="img-fluid py-1 pr-1">
												</div>
												<div class="">
													<img src="../../assets/img/49.png" alt="" class="img-fluid py-1 pr-1">
												</div>
												<div class="">
													<img src="../../assets/img/49.png" alt="" class="img-fluid py-1 pr-1">
												</div>
											</div>
											<div class="d-flex ">
												<div class="">
													<img src="../../assets/img/50.png" alt="" class="img-fluid py-1 pr-1">
												</div>
												<div class="">
													<img src="../../assets/img/50.png" alt="" class="img-fluid py-1 pr-1">
												</div>
												<div class="">
													<img src="../../assets/img/50.png" alt="" class="img-fluid py-1 pr-1">
												</div>
												<div class="">
													<img src="../../assets/img/50.png" alt="" class="img-fluid py-1 pr-1">
												</div>
											</div>
											<div class="custom-control mt-2 custom-checkbox">
											  	<input type="checkbox" class="custom-control-input" id="fast">
											  	<label class="custom-control-label font-bold" for="fast">	Servicio rápido</label>
											</div>
											<!-- <div class="form-check mt-2">
												<input class="form-check-input demo" type="checkbox" value="" id="defaultCheck2">
												<label class="form-check-label d-flex align-items-center font-bold" for="defaultCheck2"><span></span>
												
												</label>
											</div> -->
										</div>
									</div>
								</div>
								<div class="next my-3">
									<button type="button" class="btn button-boost rounded-2 btn-warning btn-block text-white" @click="next()">Continuar</button>
								</div>
							</div>
							<div class="col-md order-xl-4 mt-2 mt-xl-0 pr-2 pl-2">
								<div class="card bg-light" style="height: 271px">
									<div class="card-body">
										<h6 class="card-title text-center font-extra-bold">Server</h6>
										<div class="league text-center my-2">
											<img src="../../assets/img/122.png" class="img-fluid">
											<div class="league-text my-2">
												EUNE
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md order-xl-5 mt-2 mt-xl-0 pr-2 pl-2">
								<div class="card bg-light" style="height: 271px">
									<div class="card-body">
										<h6 class="card-title text-center font-extra-bold">Modo</h6>
										<div class="league text-center my-2">
											<img src="../../assets/img/duo.png" class="img-fluid">
											<div class="league-text my-2">
												DUO
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'Choose',
	methods: {
		next() {
			this.$emit('next:change')
		}
	}
};
</script>