<template>
	<div class="col-md">
		<div class="card">
			<div class="row justify-content-center p-4">
				<div class="col-auto col-md-8">
					<div class="card">
						<div class="card-header">
							Todas las órdenes de boost serán realizadas por jugadores Maestro o Retador en todas las regiones
						</div>
						<div class="card-body">
							<h6 class="card-title text-green font-bold">DATOS DE CONTACTO</h6>
							<div class="row">
								<div class="col-md">
									<label class="font-weight-light" for="summoner">Nombre del Invocador</label>
									<div class="form-group">
										<input id="summoner" type="text" class="form-control input-custom-white" value="Luis Alberto"/>
									</div>
								</div>
								<div class="col-md">
									<label class="font-weight-light" for="user">Usuario</label>
									<div class="form-group">
										<input id="user" type="text" class="form-control input-custom-white" value="lulo21"/>
									</div>
								</div>
								<div class="col-md">
									<label class="font-weight-light" for="password">Contraseña</label>
									<div class="form-group">
										<input id="password" type="password" class="form-control input-custom-white" value="*********"/>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md">
									<label class="font-weight-light" for="email">Email</label>
									<div class="form-group">
										<input id="email" type="email" class="form-control input-custom-white" value="lulo@gmail.com"/>
									</div>
								</div>
								<div class="col-md">
									<label class="font-weight-light" for="email_confirmation">Confirmar email</label>
									<div class="form-group">
										<input id="email_confirmation" type="email" class="form-control input-custom-white" value="lulo@gmail.com"/>
									</div>
								</div>
								<div class="col-md">
									<label class="font-weight-light" for="booster">Booster (No requerido)</label>
									<div class="form-group">
										<input id="booster" type="email" class="form-control input-custom-white" value="Jaimiko22"/>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md">
									<label class="font-weight-light" for="email">Booster (No requerido)</label>
									<div class="form-group">
										<textarea rows="3" class="form-control input-custom-white">Buenas noches, mi nombre es Luis y quisiera mejorar mi nivel en este grandioso juego...</textarea>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-auto col-md-8">
									<h6 class="card-title my-2 text-green font-bold">CONFIGURACIONES</h6>
									<div class="row">
										<div class="col-auto col-md-4">
											<label class="font-weight-light" for="email">Tipo Cola</label>
											<div class="custom-control custom-checkbox">
											  	<input type="checkbox" class="custom-control-input" id="flex">
											  	<label class="custom-control-label" for="flex">Flex</label>
											</div>
											<div class="custom-control custom-checkbox">
											  	<input type="checkbox" class="custom-control-input" id="duo">
											  	<label class="custom-control-label" for="duo">Duo</label>
											</div>
										</div>
										<div class="col-auto col-md-6">
											<label class="font-weight-light" for="email">Ordenes de hechizos</label>
											<div class="custom-control custom-checkbox">
											  	<input type="checkbox" class="custom-control-input" id="destelloD">
											  	<label class="custom-control-label" for="destelloD">Destello en D</label>
											</div>
											<div class="custom-control custom-checkbox">
											  	<input type="checkbox" class="custom-control-input" id="destelloF">
											  	<label class="custom-control-label" for="destelloF">Destello en F</label>
											</div>
										</div>
									</div>
								</div>
								<div class="col-auto col-md-4">
									<h6 class="card-title my-2 text-green font-bold">MÉTODO DE PAGO</h6>
									<div class="row">
										<div class="col-md">
											<label class="font-weight-light" for="email">Tipo Cola</label>
											<div class="custom-control custom-checkbox">
											  	<input type="checkbox" class="custom-control-input" id="paypal">
											  	<label class="custom-control-label" for="paypal">Paypal</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col col-md-4 mt-2 mt-md-0">
					<div class="card bg-black">
						<div class="card-body">
							<div class="row server">
								<div class="col-md">
									<div class="league text-center my-2">
										<img src="../../assets/img/50.png" class="img-fluid">
										<div class="league-text text-white my-2">
											Desde
											<div class="league-division my-2">
												Oro 5
											</div>
											<div class="league-division my-2">
												0 - 20
											</div>
											<div class="league-server">
												Server <span class="text-warning font-bold">LAS</span>
											</div>
											<div class="league-queue">
												Cola <span class="text-warning font-bold">SOLO</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md">
									<div class="league text-center my-2">
										<img src="../../assets/img/51.png" class="img-fluid">
										<div class="league-text text-white my-2">
											Hasta
											<div class="league-division my-2">
												Diamond 5
											</div>
											<div class="league-division my-2">
												0
											</div>
											<div class="league-server">
												Modo <span class="text-warning font-bold">SOLO</span>
											</div>
											<div class="league-queue">
												Destello en <span class="text-warning font-bold">D</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md text-white font-small font-weight-bold my-2">TIEMPO ESTIMADO DE ENTREGA</div>
								<div class="col-md text-white text-right text-warning">20 días</div>
							</div>
							<div class="row">
								<div class="col-md text-white font-small font-bold">Moneda</div>
								<div class="col-md text-right"><img src="../../assets/img/logo-pais.png" alt=""></div>
							</div>
							<div class="row server">
								<div class="col-md text-white-light font-small font-weight-bold">Orden Divisiones</div>
								<div class="col-md text-right text-white">287,75 PEN</div>
							</div>
							<div class="row server">
								<div class="col-md text-white-light font-small font-weight-bold">Opciones Extra</div>
								<div class="col-md text-right text-white">287,75 PEN</div>
							</div>
							<div class="row server">
								<div class="col-md text-white-light font-small font-weight-bold">Precio Total</div>
								<div class="col-md text-right text-white">287,75 PEN</div>
							</div>
							<div class="row server">
								<div class="col-md text-white-light font-small font-weight-bold">Descuento</div>
								<div class="col-md text-right text-white">287,75 PEN</div>
							</div>
							<div class="row server">
								<div class="col-md text-white-light font-small font-weight-bold">Precio Final</div>
								<div class="col-md text-right text-white">287,75 PEN</div>
							</div>
							<div class="row my-3 server">
								<div class="col-md text-white font-small font-weight-bold">**Aproximadamente</div>
								<div class="col-md text-right text-white">287,75 USD</div>
							</div>
							<div class="row my-4">
								<div class="col-md text-center">
									<div class="custom-control custom-checkbox">
									  	<input type="checkbox" class="custom-control-input" id="terminos">
									  	<label class="custom-control-label text-white" for="terminos">Acepto los términos y condiciones</label>
									</div>
								</div>
							</div>
							<div class="row my-4">
								<div class="col-md text-center">
									<button type="button" class="btn button-league-up btn rounded-2 btn-info" @click="end()">CONFIRMAR</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
export default {
	name: 'detail',
	methods: {
		end() {
			this.$emit('end:change')
		}
	}
};
</script>