<template>
	<div class="col-md text-center" style="padding: 10rem 10rem">
		<h1 class="text-warning mt-5">¡Gracias por tu compra!</h1>
		<div class="mb-5">
			<h5 class="text-white font-weight-light">El pago se ha realizado con éxito</h5>
		</div>
	</div>
</template>
<script>
export default {
	name: 'start'
};
</script>