//
// Step
//

.step {
	display: table;
    table-layout: fixed;
    width: 70%;
    padding: 0;
    margin: auto;
	padding-top: 2rem;

	> li {
		counter-increment: stepNum;
	    text-align: center;
	    display: table-cell;
	    position: relative;
	    color: $yellow;

		&:before {
		    content: '\2713';
		    display: block;
		    margin: 0 auto 4px;
		    background-color: $yellow;
		    color: $white;
		    width: 34px;
		    height: 34px;
		    line-height: 34px;
		    text-align: center;
		    font-weight: bold;
		    border-radius: 50%;
		    position: relative;
		    z-index: 10;
		}

		&:after {
			content: '';
		    height: 2px;
		    width: 100%;
		    background-color: $yellow;
		    position: absolute;
		    top: 18px;
		    left: 50%;
		}

		&:last-child:after {
	      	display: none;
	    }

	    &.active {
	    	
	    	&:after {
				background-color: #ededed;
			}

		    &:before {
			    color: $white;
			    content: counter(stepNum);
			    font-family: inherit;
			    font-weight: 700;
			    z-index: 100;
			    position: relative;
			    background-color: $yellow;
			}

	    	~ li {
	    		color: #fff;

	    		&:before {
			    	background-color: #fff;
				    border-color: #fff;
				    content: counter(stepNum);
				    font-family: inherit;
				    font-weight: 700;
				    z-index: 100;
				    position: relative;
				    color: #000;
			    }

			    &:after {
		          	background-color: #ededed;
		        }
			}
		}
	}
}