//
// Button
//

.btn {
    padding-left: 2rem;
    padding-right: 2rem;
}

.button-boost {
    background: $yellow;
    border: none;
    border-radius: 15px;

    &:hover {
        background: $yellow;
    }
}

.button-league-up {
	background: #36C2A4;
    border: none;
    border-radius: 15px;

    &:hover {
        background: #349e88;
    }
}

.btn-here {
	background: $yellow;
    border: none;
    border-radius: 15px;

    &:hover {
        background: $yellow;
    }
}

.btn-here {
	padding-right: 25px;
    padding-left: 25px;
}
