@media (max-width: 400px) {
	.col-md.text-center {
		padding: 0 !important;
	}
}

@media (max-width: 768px) {
	.nav-link.custom {
		font-size: .8rem;
		padding-left: 3px;
		padding-right: 3px;
		text-align: center;
		flex-direction: column !important;
		justify-content: center;
		align-items: center;

		img {
			// width: 50px;
			margin: auto !important;
			height: 30px;
		} 
	}
}

@media (min-width: 1000px) {
	.offers-form {
		padding-right: 4rem !important;
		padding-left: 4rem !important;
	}
}