<template>
	<div id="booster">
		<section class="background-boost section-full-size" id="booster">
			<div class="container">
				<div class="row" v-if="choose || detail || start">
					<div class="col-md text-center my-4">
						<h1 class="font-weight-light text-white">Postulación para <span class="font-weight-bold">Booster</span></h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md">
						<div class="multi-steps">
							<ul class="step list-unstyled" v-if="choose || detail || start">
								<li :class="{ 'font-weight-light': true, active : choose }">Cuenta</li>
								<li :class="{ 'font-weight-light': true, active : detail }">Booster</li>
								<li :class="{ 'font-weight-light': true, active : start }">D.Personales</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row justify-content-center py-5">
					<div class="col-auto col-md-6" v-if="choose">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-md mt-3">
										<div class="form-group">
											<input type="text" class="form-control input-custom" placeholder="Ingresa tu nombre de invocador">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md">
										<div class="card bg-light" style="height: 271px">
											<div class="card-body">
												<h6 class="card-title text-center">División máxima alcanzada</h6>
												<div class="league text-center my-2">
													<img src="../assets/img/50.png" class="img-fluid">
													<div class="league-text my-2">
														Oro
														<div class="league-division my-2">
															División 5
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md">
										<div class="card bg-light" style="height: 271px">
											<div class="card-body">
												<h6 class="card-title text-center">Server</h6>
												<div class="league text-center my-2">
													<img src="../assets/img/120.png" class="img-fluid">
													<div class="league-text my-2">
														LAS
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row mt-5">
									<div class="col-md text-center">
										<button type="button" class="btn-here btn btn-warning rounded-2 text-white" @click="next()">CONTINUAR</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-auto col-md-6" v-if="detail">
						<div class="card">
							<div class="card-body">
								<h6 class="card-title my-2">¿Con qué roles puedes booster?</h6>
								<div class="row">
									<div class="col-md">
										<div class="custom-control custom-checkbox">
										  	<input type="checkbox" class="custom-control-input" id="top">
										  	<label class="custom-control-label" for="top">Superior</label>
										</div>
										<div class="custom-control custom-checkbox">
										  	<input type="checkbox" class="custom-control-input" id="jg">
										  	<label class="custom-control-label" for="jg">Jungla</label>
										</div>
										<div class="custom-control custom-checkbox">
										  	<input type="checkbox" class="custom-control-input" id="mid">
										  	<label class="custom-control-label" for="mid">Central</label>
										</div>
										<div class="custom-control custom-checkbox">
										  	<input type="checkbox" class="custom-control-input" id="adc">
										  	<label class="custom-control-label" for="adc">Inferior</label>
										</div>
										<div class="custom-control custom-checkbox">
										  	<input type="checkbox" class="custom-control-input" id="support">
										  	<label class="custom-control-label" for="support">Soporte</label>
										</div>
									</div>
								</div>
								<h6 class="card-title my-2">¿Para qué servidores?</h6>
								<div class="row">
									<div class="col-md">
										<div class="custom-control custom-checkbox">
										  	<input type="checkbox" class="custom-control-input" id="eune">
										  	<label class="custom-control-label" for="eune">EUNE</label>
										</div>
										<div class="custom-control custom-checkbox">
										  	<input type="checkbox" class="custom-control-input" id="euw">
										  	<label class="custom-control-label" for="euw">EUW</label>
										</div>
										<div class="custom-control custom-checkbox">
										  	<input type="checkbox" class="custom-control-input" id="lan">
										  	<label class="custom-control-label" for="lan">LAN</label>
										</div>
										<div class="custom-control custom-checkbox">
										  	<input type="checkbox" class="custom-control-input" id="br">
										  	<label class="custom-control-label" for="br">BR</label>
										</div>
										<div class="custom-control custom-checkbox">
										  	<input type="checkbox" class="custom-control-input" id="na">
										  	<label class="custom-control-label" for="na">NA</label>
										</div>
										<div class="custom-control custom-checkbox">
										  	<input type="checkbox" class="custom-control-input" id="oce">
										  	<label class="custom-control-label" for="oce">OCE</label>
										</div>
									</div>
								</div>
								<h6 class="card-title my-2">¿Estás dispuesto a jugar a Duo con el Cliente?</h6>
								<div class="row">
									<div class="col-md mt-2">
										<div class="custom-control custom-radio custom-control-inline">
											<input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
											<label class="custom-control-label" for="customRadioInline1">Si</label>
										</div>
										<div class="custom-control custom-radio custom-control-inline">
										  	<input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
										  	<label class="custom-control-label" for="customRadioInline2">No</label>
										</div>
									</div>
								</div>
								<h6 class="card-title my-2">¿Por qué quieres ser Booster en WB?</h6>
								<div class="row">
									<div class="col-md mt-3">
										<div class="form-group">
											<textarea rows="4" class="form-control">Quiero ganar más experiencia y un ingreso extra...</textarea>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md text-center">
										<button type="button" class="btn-here btn btn-warning rounded-2 text-white" @click="dates()">CONTINUAR</button>
										<br>
										<button type="button" class="btn btn-secondary btn-sm my-3">ATRAS</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-auto col-md-6" v-if="start">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-md">
										<label class="font-weight-light" for="name">Nombre</label>
										<div class="form-group">
											<input id="name" type="text" class="form-control" value="Heison">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md">
										<label class="font-weight-light" for="surname">Apellidos</label>
										<div class="form-group">
											<input id="surname" type="text" class="form-control" value="Espinoza Rojas">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md">
										<label class="font-weight-light" for="email">Apellidos</label>
										<div class="form-group">
											<input id="email" type="email" class="form-control" value="design@heison.pe">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md">
										<label class="font-weight-light" for="birthday">Fecha de nacimiento</label>
										<div class="form-group">
											<input id="birthday" type="date" class="form-control" value="10/04/1989">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md text-center">
										<button type="button" class="btn-here btn btn-warning rounded-2 text-white" @click="end()">CONTINUAR</button>
										<br>
										<button type="button" class="btn btn-secondary btn-sm my-3">Atrás</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-auto col-md-8 text-center" style="padding: 8rem 10rem" v-if="finish">
						<h1 class="text-warning mt-5">¡Muchas gracias!</h1>
						<div class="mb-5">
							<h5 class="text-white font-weight-light my-4">Te enviaremos un correo si quedas seleccionado para ser parte de nuestros Boosters ;)</h5>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>
<script>
export default {
	name: 'booster',
	data () {
		return {
			choose: true,
			detail: false,
			start: false,
			finish: false
		}
	},
	methods: {
		next () {
			this.choose = false
			this.detail = true
		},
		dates () {
			this.detail = false
			this.start = true
		},
		end () {
			this.start = false
			this.finish = true
		},

	}
};
</script>