<template>
	<div id="boost">
		<section class="background-boost section-full-size" id="types">
			<div class="container pb-5">
				<div class="multi-steps" v-if="choose || detail">
					<ul class="step list-unstyled">
						<li :class="{ 'font-weight-light': true, active : choose }">Elige</li>
						<li :class="{ 'font-weight-light': true, active : detail }">Detalle</li>
						<li :class="{ 'font-weight-light': true, active : start }">Empieza</li>
					</ul>
				</div>
				<div class="row justify-content-center py-5">
					<choose @next:change="next()" v-if="choose"></choose>
					<detail @end:change="end()" v-if="detail"></detail>
					<start v-if="start"></start>
				</div>
			</div>
		</section>
	</div>
</template>
<script>

import choose from "./steps/choose.vue"
import detail from "./steps/detail.vue"
import start from "./steps/start.vue"

export default {
	name: 'Boost',
	components: { choose, detail, start },
	data () {
		return {
			choose: true,
			detail: false,
			start: false
		}
	},
	methods: {
		next() {
			this.choose = false
			this.detail = true
		},
		end() {
			this.detail = false
			this.start = true
		}
	}
};
</script>