<template>
    <div id="faq">
        <barnav></barnav>
		<section class="section-faq background-faq d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-around">
                    <div class="col-md">
                        <section class="section-info text-center text-white">
                            <transition name="zoomLeft">
                                <h1 class="font-weight-light" v-show="show">Preguntas y <span class="text-white font-weight-bold">Consultas</span></h1>
                            </transition>
                        </section>
                    </div>
                </div>
            </div>
    	</section>
        <section class="mt-5 mb-5">
            <div class="container">
                <div class="row accordion" id="accordionExample">
                    <div class="col-md-5">
                        <div class="faq mt-4">
                            <div class="faq-header" id="headingOne">
                                <a class="faq-link d-flex align-items-start" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span class="ml-2 text-uppercase font-weight-bold">
                                        ¿Cómo puedo estar seguro de que mi cuenta no sera robada?
                                    </span>
                                </a>
                            </div>
                            <div class="faq-body ml-4 mb-2 mt-2 text-justify show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, 
                                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, 
                                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                            </div>
                        </div>

                        <div class="faq mt-4">
                            <div class="faq-header" id="headingTwo">
                                <a class="faq-link d-flex align-items-start collapsed" data-toggle="collapse" data-target="#collapsedTwo" aria-expanded="false" aria-controls="collapsedTwo">
                                    <span class="ml-2 text-uppercase font-weight-bold">
                                        Ya pague ¿Y ahora?
                                    </span>
                                </a>
                            </div>
                            <div class="faq-body ml-4 mb-2 mt-2 text-justify collapse" id="collapsedTwo" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                                3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. 
                                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt 
                                you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>

                        <div class="faq mt-4">
                            <div class="faq-header" id="headingThree">
                                <a class="faq-link d-flex align-items-start collapsed" data-toggle="collapse" data-target="#collapsedThree" aria-expanded="false" aria-controls="collapsedThree">
                                    <span class="ml-2 text-uppercase font-weight-bold">
                                        ¿Cuales son los métodos de pago?
                                    </span>
                                </a>
                            </div>
                            <div class="faq-body ml-4 mb-2 mt-2 text-justify collapse" id="collapsedThree" aria-labelledby="headingThree" data-parent="#accordionExample">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt 
                                you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>

                        <div class="faq mt-4">
                            <div class="faq-header" id="headingFour">
                                <a class="faq-link d-flex align-items-start collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <span class="ml-2 text-uppercase font-weight-bold">
                                        ¿Quien jugara mi cuenta?
                                    </span>
                                </a>
                            </div>
                            <div class="faq-body ml-4 mb-2 mt-2 text-justify collapse" id="collapseFour" aria-labelledby="headingFour" data-parent="#accordionExample">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt 
                                you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>

                        <div class="faq mt-4">
                            <div class="faq-header" id="headingFive">
                                <a class="faq-link d-flex align-items-start collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    <span class="ml-2 text-uppercase font-weight-bold">
                                        ¿Los booster tienen acceso a mi EA y RP?
                                    </span>
                                </a>
                            </div>
                            <div class="faq-body ml-4 mb-2 mt-2 text-justify collapse" id="collapseFive" aria-labelledby="headingFive" data-parent="#accordionExample">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt 
                                you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>

                        <div class="faq mt-4">
                            <div class="faq-header" id="headingSix">
                                <a class="faq-link d-flex align-items-start collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    <span class="ml-2 text-uppercase font-weight-bold">
                                        ¿Puedo espectar las partias mientras el booter juega con mi cuenta?
                                    </span>
                                </a>
                            </div>
                            <div class="faq-body ml-4 mb-2 mt-2 text-justify collapse" id="collapseSix" aria-labelledby="headingSix" data-parent="#accordionExample">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt 
                                you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>

                        <div class="faq mt-4">
                            <div class="faq-header" id="headingSeven">
                                <a class="faq-link d-flex align-items-start collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    <span class="ml-2 text-uppercase font-weight-bold">
                                        ¿Que paso si un booster no esta haciendo un trabajo de mi agrado?
                                    </span>
                                </a>
                            </div>
                            <div class="faq-body ml-4 mb-2 mt-2 text-justify collapse" id="collapseSeven" aria-labelledby="headingSeven" data-parent="#accordionExample">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt 
                                you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 offset-md-2">
                        <!-- <div class="accordion"> -->
                            <div class="faq mt-4">
                                <div class="faq-header" id="headingE">
                                    <a class="faq-link d-flex align-items-start collapsed" data-toggle="collapse" data-target="#collapsgE" aria-expanded="false" aria-controls="collapsgE">

                                        <span class="ml-2 text-uppercase font-weight-bold">
                                            ¿Cómo puedo estar seguro de que mi cuenta no sera robada?
                                        </span>
                                    </a>
                                </div>
                                <div class="faq-body ml-4 mb-2 mt-2 text-justify collapse" id="collapsgE" aria-labelledby="headingE" data-parent="#accordionExample">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, 
                                    non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, 
                                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </div>
                            </div>

                            <div class="faq mt-4">
                                <div class="faq-header" id="headingNine">
                                    <a class="faq-link d-flex align-items-start collapsed" data-toggle="collapse" data-target="#collapsedNine" aria-expanded="false" aria-controls="collapsedNine">

                                        <span class="ml-2 text-uppercase font-weight-bold">
                                            Ya pague ¿Y ahora?
                                        </span>
                                    </a>
                                </div>
                                <div class="faq-body ml-4 mb-2 mt-2 text-justify collapse" id="collapsedNine" aria-labelledby="headingNine" data-parent="#accordionExample">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                                    3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. 
                                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt 
                                    you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>

                            <div class="faq mt-4">
                                <div class="faq-header" id="headingTeen">
                                    <a class="faq-link d-flex align-items-start collapsed" data-toggle="collapse" data-target="#collapsedTeen" aria-expanded="false" aria-controls="collapsedTeen">

                                        <span class="ml-2 text-uppercase font-weight-bold">
                                            ¿Cuales son los métodos de pago?
                                        </span>
                                    </a>
                                </div>
                                <div class="faq-body ml-4 mb-2 mt-2 text-justify collapse" id="collapsedTeen" aria-labelledby="headingTeen" data-parent="#accordionExample">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt 
                                    you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>

                            <div class="faq mt-4">
                                <div class="faq-header" id="headingTwelve">
                                    <a class="faq-link d-flex align-items-start collapsed" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">

                                        <span class="ml-2 text-uppercase font-weight-bold">
                                            ¿Quien jugara mi cuenta?
                                        </span>
                                    </a>
                                </div>
                                <div class="faq-body ml-4 mb-2 mt-2 text-justify collapse" id="collapseTwelve" aria-labelledby="headingTwelve" data-parent="#accordionExample">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt 
                                    you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>

                            <div class="faq mt-4">
                                <div class="faq-header" id="headingTwelveen">
                                    <a class="faq-link d-flex align-items-start collapsed" data-toggle="collapse" data-target="#collapseTwelveen" aria-expanded="false" aria-controls="collapseTwelveen">

                                        <span class="ml-2 text-uppercase font-weight-bold">
                                            ¿Los booster tienen acceso a mi EA y RP?
                                        </span>
                                    </a>
                                </div>
                                <div class="faq-body ml-4 mb-2 mt-2 text-justify collapse" id="collapseTwelveen" aria-labelledby="headingTwelveen" data-parent="#accordionExample">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt 
                                    you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>

                            <div class="faq mt-4">
                                <div class="faq-header" id="headingTweelven">
                                    <a class="faq-link d-flex align-items-start collapsed" data-toggle="collapse" data-target="#collapseTweelven" aria-expanded="false" aria-controls="collapseTweelven">

                                        <span class="ml-2 text-uppercase font-weight-bold">
                                            ¿Puedo espectar las partias mientras el booter juega con mi cuenta?
                                        </span>
                                    </a>
                                </div>
                                <div class="faq-body ml-4 mb-2 mt-2 text-justify collapse" id="collapseTweelven" aria-labelledby="headingTweelven" data-parent="#accordionExample">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt 
                                    you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>

                            <div class="faq mt-4">
                                <div class="faq-header" id="headingTwelvefour">
                                    <a class="faq-link d-flex align-items-start collapsed" data-toggle="collapse" data-target="#collapseTwelvefour" aria-expanded="false" aria-controls="collapseTwelvefour">

                                        <span class="ml-2 text-uppercase font-weight-bold">
                                            ¿Que paso si un booster no esta haciendo un trabajo de mi agrado?
                                        </span>
                                    </a>
                                </div>
                                <div class="faq-body ml-4 mb-2 mt-2 text-justify collapse" id="collapseTwelvefour" aria-labelledby="headingTwelvefour" data-parent="#accordionExample">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt 
                                    you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import barnav from './Navigation.vue'

export default {
    data () {
        return {
            show: false
        }
    },
    name: 'Faq',
    components: { barnav },
    mounted () {
        this.show = true
    }
}
</script>

