<template>
	<div id="home">
		<barnav></barnav>
		<section class="section section-over section-full-size">
			<!-- Background Head -->
			<div class="section-background"></div>
			<!-- Content Wrapper -->
			<div class="container">
				<div class="row justify-content-around">
					<div class="col-md">
						<section class="section-info">
								<h1 class="font-extra-light">
									<transition name="zoomUp">
										<span v-show="transition">Subí a la división que te mereces,
											<a href="#" class="text-white font-extra-bold"> Ahora! </a>
										 </span>
									</transition>
									<h6 class="font-regular my-3"> El eloboost más seguro y confiable de todo internet </h6>
								</h1>
							<transition name="slideUp">
								<a href="#" class="button-league-up btn btn-info rounded-2 mt-3"  v-show="transition">
									Quiero subir de división
								</a>
							</transition>
						</section>
					</div>
					<div class="col-md d-none d-md-none d-lg-block mt-5">
						<img src="../assets/img/legends.png" class="img-fluid float-right">
					</div>
				</div>
				<div class="row justify-content-around">
					<div class="col-md d-none d-md-none d-lg-block section-img">
						<img src="../assets/img/cham.png" class="img-fluid">
					</div>
					<div class="col-md d-none d-md-none d-lg-block">
						<img src="../assets/img/video.jpg" class="img-fluid">
					</div>
				</div>
			</div>
		</section>
		<section class="section section-mid section-full-size section-services mt-5">
			<div class="container">
				<h2 class="text-center font-extra-bold sub-primary title-gray">Servicios</h2>
				<div class="row justify-content-center">
					<div class="col-md mt-2 imghover-effect">
						<div class="card card-placements-first d-flex justify-content-center align-items-center">
							<div class="bg-lighthen"></div>
							<div class="title-card text-white font-extra-bold">Duo Q</div>
							<div class="text-card text-center">
								<p class="text-center text-white font-light px-2">Podes configurar tu orden como mas prefieras. Diciendole al booter que campeones o roles usar</p>
								<div class="button-league-up btn btn-info rounded-2">Mas detalles</div>
							</div>
						</div>
					</div>
					<div class="col-md mt-2 imghover-effect">
						<div class="card card-placements-second d-flex justify-content-center align-items-center">
							<div class="bg-lighthen"></div>
							<div class="title-card text-white font-extra-bold">Victorias!</div>
							<div class="text-card text-center">
								<p class="text-center text-white font-light px-2">Podes configurar tu orden como mas prefieras. Diciendole al booter que campeones o roles usar</p>
								<div class="button-league-up btn btn-info rounded-2">Mas detalles</div>
							</div>
						</div>
					</div>
					<div class="col-md mt-2 imghover-effect">
						<div class="card card-placements-third d-flex justify-content-center align-items-center">
							<div class="bg-lighthen"></div>
							<div class="title-card text-white font-extra-bold">Duo Q</div>
							<div class="text-card text-center">
								<p class="text-center text-white font-light px-2">Podes configurar tu orden como mas prefieras. Diciendole al booter que campeones o roles usar</p>
								<div class="button-league-up btn btn-info rounded-2">Mas detalles</div>
							</div>
						</div>
					</div>
					<div class="col-md mt-2 imghover-effect">
						<div class="card card-placements-fourth d-flex justify-content-center align-items-center">
							<div class="bg-lighthen"></div>
							<div class="title-card text-white font-extra-bold">Primeras 10</div>
							<div class="text-card text-center">
								<p class="text-center text-white font-light px-2">Podes configurar tu orden como mas prefieras. Diciendole al booter que campeones o roles usar</p>
								<div class="button-league-up btn btn-info rounded-2">Mas detalles</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section-function">
			<div class="container">
				<h2 class="text-center font-extra-bold sub-primary pb-3 title-gray">¿Cómo funciona?</h2>
				<div class="row justify-content-center pt-5">
					<div class="col-md my-2">
						<div class="container-step">
							<div class="function-step card">
								<div class="function-step-title">Paso 1</div>
								<div class="function-step-text">Elige la división en la que te encuentras y o la que quieres llegar</div>
							</div>
						</div>
						<div class="card-blockquote-first"></div>
					</div>
					<div class="col-md my-2">
						<div class="container-step">
							<div class="function-step card">
								<div class="function-step-title">Paso 1</div>
								<div class="function-step-text">Elige la división en la que te encuentras y o la que quieres llegar</div>
							</div>
						</div>
						<div class="card-blockquote-second"></div>
					</div>
					<div class="col-md my-2">
						<div class="container-step">
							<div class="function-step card">
								<div class="function-step-title">Paso 1</div>
								<div class="function-step-text">Elige la división en la que te encuentras y o la que quieres llegar</div>
							</div>
						</div>
						<div class="card-blockquote-third"></div>
					</div>
				</div>
			</div>
		</section>
		<section class="section section-mid section-full-size my-2 mt-5">
			<div class="container">
				<h2 class="text-center font-extra-bold sub-primary title-gray">Te brindamos</h2>
				<div class="row justify-content-center">
					<div class="col-auto col-md-3 text-center">
						<img src="../assets/img/40.png" class="img-fluid" width="130" height="130"/>
						<h5 class="font-weight-bold my-3">Tiempo garantizado</h5>
						<p class="text-justify">
							Tu orden tendra un tiempo de entrega máximo. Si el Booster falla en terminarlo a tiempo, se te regalaran 3 wins en todas las divisiones inferiores a D2.
						</p>
					</div>
					<div class="col-auto col-md-3 text-center">
						<img src="../assets/img/41.png" class="img-fluid" width="130" height="130"/>
						<h5 class="font-weight-bold my-3">Soporte 24/7</h5>
						<p class="text-justify">
							Chat en vivo las 24 horas con el soporte y el booster en multiples idiomas. Siempre vamos a estar ahi para ayudarte y responder todas tus dudas.
						</p>
					</div>
					<div class="col-auto col-md-3 text-center">
						<img src="../assets/img/42.png" class="img-fluid" width="130" height="130"/>
						<h5 class="font-weight-bold my-3">Confidencialidad</h5>
						<p class="text-justify">
							Todos los datos personales que nos proporciones son super confidenciales. Solo el booster tendra acceso a ellos. A su vez todas las transacciones estan encriptadas para una máxima seguridad.
						</p>
					</div>
					<div class="col-auto col-md-3 text-center">
						<img src="../assets/img/43.png" class="img-fluid" width="130" height="130"/>
						<h5 class="font-weight-bold my-3">Seguimiento</h5>
						<p class="text-justify">
							Contamos con una plataforma a la que podras ingresar una vez realizada la compra, donde podras chatear con tu booster, pausar la orden si quieres jugar y ver el progreso de tu orden.
						</p>
					</div>
					<div class="col-auto col-md-3 text-center">
						<img src="../assets/img/44.png" class="img-fluid" width="130" height="130"/>
						<h5 class="font-weight-bold my-3">Máxima Calidad</h5>
						<p class="text-justify">
							Tenemos el servicio con mayor calidad de eloboost del mercado. Para lograr esto nos enfocamos en vos, en que toda tu experiencia de compra sea agradable, segura y confiable.
						</p>
					</div>
					<div class="col-auto col-md-3 text-center">
						<img src="../assets/img/45.png" class="img-fluid" width="130" height="130"/>
						<h5 class="font-weight-bold my-3">Rapidez</h5>
						<p class="text-justify">
							Somos muy exigentes con la rapidez del servicio por eso una vez realizada la compra en booster se contactara contigo a la brevedad para empezar el trabajo.
						</p>
					</div>
					<div class="col-auto col-md-3 text-center">
						<img src="../assets/img/46.png" class="img-fluid" width="130" height="130"/>
						<h5 class="font-weight-bold my-3">Económico</h5>
						<p class="text-justify">
							Hicimos mucho enfasis en industrializar el proceso de eloboost, combinando esto con sucesivos descuentos nos permite tener los precios mas bajos del mercado.
						</p>
					</div>
					<div class="col-auto col-md-3 text-center">
						<img src="../assets/img/47.png" class="img-fluid" width="130" height="130"/>
						<h5 class="font-weight-bold my-3">Personalizado</h5>
						<p class="text-justify">
							Podes personalizar tu orden al máximo, elegir los campeones y roles que queres que se usen en tu cuenta, elegir el booster y hasta en que letra queres el destello.
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="section section-background-ryze section-mid section-full-size my-2">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-auto col-md text-center">
						<div class="section2 mb-2">
							<h2 class="text-white font-extra-bold">Subí de división</h2>
						</div>
						<a href="#" class="button-league-up btn rounded-2 btn-info">Ahora mismo</a>
					</div>
				</div>
			</div>
		</section>
		<section class="section section-mid section-full-size mb-5">
			<div class="container">
				<h2 class="text-center font-extra-bold sub-primary mt-5 title-gray">Testimonios</h2>
				<div class="row justify-content-center">
					<div class="col-md">
						<carousel :autoplay="false" :margin="40" :items="3" :nav="false" :responsive="{0: {items:1,nav:false}, 600:{items:1,nav:false}, 768: {items: 2},  1000: {items: 3 }, 1500: {items: 4}}">
							<div class="testimonial text-white" v-for="n in 12">
								<div class="testimonial-top">
									<img src="../assets/img/top.png" alt="">
								</div>
								<div class="testimonial-header d-flex align-items-center">
									<div class="testimonial-header-avatar">
										<img src="../assets/img/avatar.png" alt="">
									</div>
									<div class="testimonial-header-stars d-flex">
										<img src="../assets/img/star.png" alt="star" v-for="n in 4">
										<img src="../assets/img/unstar.png" alt="star">
									</div>
									<div class="testimonial-header-score text-primary font-bold">
										4.0
									</div>
								</div>
								<div class="testimonial-level d-flex justify-content-center my-4">
									<div class="testimonial-level-before mr-4">
										<img src="../assets/img/52.png" alt="">
									</div>
									<div class="testimonial-level-after">
										<img src="../assets/img/53.png" alt="">
									</div>
								</div>
								<div class="testimonial-comment">
									<p class="text-center font-extra-light px-4">Excelente servicio, me subieron mas rápido de lo que esperaba</p>
								</div>
								<div class="testimonial-footer">
									<div class="text-center"><span class="testimonial-footer-date font-extra-light">18/04/2019</span> <span class="text-white font-bold testimonial-footer-location">España</span></div>
									<p class="testimonial-footer-server text-center text-uppercase font-bold pb-4">LAS</p>
								</div>
								<div class="testimonial-bottom">
									<img src="../assets/img/bottom.png" alt="" class="">
								</div>
							</div>
						</carousel>
					</div>
				</div>
			</div>
		</section>
		<section class="section section-background-r2ze section-mid section-full-size">
			<div class="container">
				<div class="row justify-space-evenly content-center" style="padding-top: 17%">
					<div class="col-md text-center">
						<h2 class="text-white font-extra-bold">Conviertete en WorldBooster</h2>
						<router-link class="btn-here btn rounded-2 btn-warning text-white" :to="{ name: 'booster' }">Postula aquí</router-link>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<script>

import barnav from './Navigation.vue'
import carousel from 'vue-owl-carousel'

export default {
	name: 'HelloWorld',
	components: { barnav, carousel },
	data () {
		return {
			msg: 'Welcome to Your Vue.js App',
			transition: false
		}
	},
	mounted () {
		this.transition = true
	}
};
</script>