<template>
	<nav class="navbar navbar-expand-lg navbar-togglable navbar-dark fixed-over bg-transparent">
		<div class="container">
	 		<router-link  class="navbar-brand" :to="{ name: 'Home' }"><img src="../assets/img/logo.png" class="img-fluid"></router-link >
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#wbuinavbar" aria-controls="wb-navbar" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
		  	</button>
		  	<div class="collapse navbar-collapse" id="wbuinavbar">
		  		<ul class="navbar-nav ml-auto">
		  			<li class="nav-item">
				        <router-link class="button-boost btn btn-warning rounded-2 mr-3 text-white" to="/boost">Compra boost</router-link>
				    </li>
				    <li class="nav-item">
				        <router-link class="nav-link" :to="{ name: 'offers' }">Ofertas</router-link>
				    </li>
		  			<li class="nav-item">
						<router-link class="nav-link" :to="{ name: 'faq' }">Preguntas frecuentes</router-link>
				    </li>
		  			<li class="nav-item">
				        <router-link class="nav-link" :to="{ name: 'booster' }">Conviértete en booster</router-link>
				    </li>
		  			<li class="nav-item">
				        <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">Ingresa</a>
				    </li>
		  		</ul>
		  	</div>
	 	</div>
	</nav>
</template>

<script>
export default {
	name: 'Nav',
	data () {
		return {
			visibility: true
		}
	}
};
</script>