<template>
	<section id="offers" class="offers">
		<barnav></barnav>
		<header class="offers-header d-flex justify-content-center align-items-center flex-column">
			<h1 class="text-center text-white font-extra-light" >Aprovecha nuestas <span class="font-weight-bold font-extra-bold">Ofertas!</span></h1>
			<div class="row w-100">
				<div class="col-md-4 offset-md-4">
					<p class="text-white text-center">Lorem Ipsum es simplemente el texto de relleno de las imprentas.</p>
				</div>
			</div>
		</header>
		<section class="offers-container pb-5">
			<div class="container pt-4">
				<h2 class="font-extra-light text-center text-white pt-5 offers-subtitle">World boosting <span class="font-extra-bold">Packs</span></h2>
				<div class="select-server pb-5">
					<div class="row mt-5">
						<div class="col-md-4 offset-md-4">
							<div class="form-group text-center p-2 offers-form">
							<label for="" class="text-info mt-2 mb-3">¡Elige el servidor de tu interes!</label>
							<select name="" id="" class="form-control form-control-sm offers-select">
								<option class="lan">LAN</option>
								<option class="las">LAS</option>
								<option class="na">NA</option>
							</select>
						</div>
						</div>
					</div>
				</div>

				<div class="row pb-5">
					<div class="col-md-4" v-for="n in 9">
						<div class="offers-item text-white my-2 py-2 text-center">
							<div class="text-uppercase pt-2">Nombre del pack</div>
							<div class="offers-item-content py-4 d-flex justify-content-center align-items-center">
								<div class="offers-item-content-bg"></div>
								<span class="font-extra-light offers-item-content-percent">-30%</span>
								<div class="offers-item-content-image">
                  <div class="offers-item-content-image-one">
                    <img src="../assets/img/53.png" alt="" class="">
                  </div>
                  <div class="offers-item-content-image-two">
                    <img src="../assets/img/52.png" alt="" class="">
                  </div>
								</div>
							</div>
							<div class="offers-item-footer pb-3 mt-3">
								<div class="offers-item-footer-time text-info">Finaliza en <span class="font-weight-bold">10 días</span></div>
								<div class="offers-item-footer-price py-2 font-light">$147</div>
								<div class="offers-item-footer-link pt-2">
									<router-link class="btn btn-primary btn-sm text-uppercase font-bold text-white" to="/boost">Subír ahora</router-link>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
</template>

<script>
	import barnav from './Navigation.vue'

	export default {
		name: 'offers',
		components: { barnav },
		data () {
			return {
				show: false
			}
		},
		mounted () {
			this.show = true
		}
	}
</script>
