//
// Nav
//

.navbar-nav {
	@include media-breakpoint-down(md) {
 		margin-top: 1rem;
  	}
}

.nav-tabs .nav-link {
	border: 0 !important;
	border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.nav-link {
	padding: 0.3rem 1rem;
	
	&.custom {
		padding-top: 1rem;
    	padding-bottom: 2rem;
		background: #edeff2;
	}
}

.tab {
	width: 33.33%;
}