//
// Variables
//

// Bootstrap default variables

@import "../bootstrap/variables";

// Custom variables

$gray-dark-wb: #E9E9E9;
$green-wb: #35C2A4;
$orange-wb: #F1A53A;
$grey-light-wb: #F2F0F2;

// Header
