//
// Position
//

.fixed-over {
  	position: absolute;
  	top: 0;
  	right: 0;
  	left: 0;
  	z-index: $zindex-fixed;

 	@include media-breakpoint-down(md) {
 		position: initial;
 		background: $black !important;
  	}
}